<main>
  <section class="h-96 flex justify-around items-center gap-10 bg-mainColor">
    <div class="text-white text-center">
      <p class="font-semibold text-3xl py-5">Rails Survey App</p>
      <p>Create your first survey faster</p>
      <p>Start sending surveys to different companies around the world!</p>
      <div class="py-5 text-black">
        <%= button_to root_path, id: "get-started" do %>
          <div class="bg-signIn py-5 px-10 rounded">
            <i class="fa-solid fa-arrow-right"></i>
            <span class="ml-3">
              Get started!
            </span>
          </div>
        <% end %>
      </div>
    </div>
    <div>
      <%= image_tag("survey.jpg", width: "600") %>
    </div>
  </section>
  <section>
    <div class="flex justify-around p-10">
      <%= image_tag("companies/Amazon.png", width: "150") %>
      <%= image_tag("companies/Facebook.png", width: "150") %>
      <%= image_tag("companies/Google.png", width: "150") %>
      <%= image_tag("companies/Instagram.png", width: "150") %>
      <%= image_tag("companies/LinkedIn.png", width: "150") %>
      <%= image_tag("companies/Spotify.png", width: "150") %>
      <%= image_tag("companies/Twitter.png", width: "150") %>
    </div>
    <p class="text-center text-sm text-mainColor p-10">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae
    </p>
    <hr>
  </section>
</main>
