<main class="h-screen bg-mainColor flex py-10">
  <section class="w-3/6 flex justify-center items-center">
    <div>
      <%= image_tag("survey.jpg", width: "600") %>
    </div>
  </section>

  <section class="w-3/6 flex justify-center items-center">
    <div class="p-20 rounded-lg bg-formBg">
      <h2 class="text-white font-semibold text-3xl text-center py-5">
        Log in
      </h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field flex flex-col">
          <%= f.label :email, class: "text-white text-lg p-1" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "rounded-md text-sm" %>
        </div>

        <div class="field flex flex-col">
          <%= f.label :password, class: "text-white text-lg p-1" %>
          <%= f.password_field :password, autocomplete: "current-password", class: "rounded-md" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field py-2">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me, class: "text-white" %>
          </div>
        <% end %>

        <div class="actions flex">
          <div class="bg-signIn font-semibold rounded-md my-4">
            <%= f.submit "Log in", class: "cursor-pointer py-2 px-10" %>
          </div>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </section>
</main>
